{% extends 'polls/base.html' %}
{% block content %}
    {% if latest_questions_list %}
        <ul class="index h2">
        {% for question in latest_questions_list %}
            <li class="index">
                <a href="{% url 'polls:detail' question.id %}" class="text-decoration-none text-success text-capitalize"> {{ question.question_text }} </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="index">No polls are available.</p>
    {% endif %}
{% endblock %}